/node_modules/


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
node_modules
cucumber_report.html
cucumber_report.json
yarn.lock
package-lock.json